@charset "UTF-8";
#wrapper {
  background-color: rgb(255, 255, 242);
}

#toukou {
  width: 800px;
  margin: 0 auto;
}
p {
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
}
#title {
  margin: 0 auto;
  display: block;
  width: 300px;
}
#file {
  margin: 0 auto;
  display: block;
}
select {
  margin: 0 auto;
  display: block;
}
#center {
  width: 240px;
  margin: 0 auto;
}
#idea_comment {
  margin: 0 auto;
  display: block;
  width:600px;
  height:300px;
}
#h-btn  {
  margin: 20px auto 20px auto;
  display: block;
}
